extends layout
block content

    form(action="/postlog" method="POST")
        input(type='text' id='username' placeholder='Username')
        input(type='text' id='password' placeholder='Password')
        input(type='submit' value='Login')

    a(href="/signup" class="signbutton") Or Sign Up Here